# Explicit name of workflow. This is optional.
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#name
name: Perl CI v2.0.4

# Specify the events that trigger this workflow.
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
on:
  push:
  pull_request:

# Define environment variables for all jobs
env:
  MY_IS_GITHUB_ACTION: 1
  PERL_CPANM_OPT: '--mirror https://cpan.metacpan.org'


# Define the jobs that make up the workflow.
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobs
jobs:

  # Define a job called 'test'
  test:

    # Create a matrix of configurations for the job. It will be run on
    # the Cartesian product of the resources specified.
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategy
    # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
    strategy:

      # Do not cancel other jobs in the matrix if one of them fails
      fail-fast: false

      # The actual matrix
      matrix:
        include:
          - perl: 5.8.8
            runner: macos-latest
          - perl: 5.8.8
            runner: ubuntu-latest
          - perl: 5.26.0
            runner: windows-latest
        perl:
          - 5
        runner:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    # Define where the job runs.
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ${{matrix.runner}}

    # The name of this job
    name: OS ${{matrix.runner}} Perl ${{matrix.perl}}

    # The individual steps in the job
    steps:

    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up perl
      # Specify the action performed by this step. In this case it is a
      # custom action residing in repository shogo82148/actions-setup-perl
      # and tagged v1. Yes, shogo82148 is the user name and
      # actions-setup-perl is the repository name. See
      # https://github.com/marketplace/actions/setup-perl-environment
      # The available Perl versions are in
      # https://github.com/shogo82148/actions-setup-perl/tree/main/versions
      uses: shogo82148/actions-setup-perl@v1
      # Specify variables to the action
      with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ ( startsWith( matrix.runner, 'windows-' ) && 'strawberry' ) || 'default' }}

    - name: Show Perl and Cpanm versions
      # Run a command to display the version of Perl being used.
      run: |
        perl -v
        cpanm -v

    - name: Customize environment
      run: |
        cpanm --notest File::HomeDir
        perl .github/workflows/environment.PL

    - name: Display local envoronment variables
      run: |
        echo MY_MAKE=${{ env.MY_MAKE }}
        echo MY_PORTABLE_HOME=${{ env.MY_PORTABLE_HOME }}
        echo MY_WANT_MODULES=${{ env.MY_WANT_MODULES }}

    # The current versions of various non-core toolchain modules have
    # problems under older Perls. We make use of this step to get older
    # versions installed if needed.
    - name: Install old versions of modules if on old Perl
      if: env.MY_WANT_MODULES
      run: cpanm --notest ${{ env.MY_WANT_MODULES }}

    - name: Install module dependencies
      run: |
        cpanm --with-configure --notest --installdeps .

    - name: Run ExtUtils::MakeMaker tests
      # Abuse the hashFiles() built-in to see if file exists. From
      # https://stackoverflow.com/questions/71336204/github-action-check-if-a-file-already-exists
      if: ${{ hashFiles( 'Makefile.PL' ) != '' }}
      run: |
        perl Makefile.PL
        ${{ env.MY_MAKE }}
        ${{ env.MY_MAKE }} test

    - name: Run Module::Build tests
      if: ${{ hashFiles( 'Build.PL' ) != '' }}
      run: |
        cpanm --notest Module::Build
        perl Build.PL
        ./Build
        ./Build test

    # The following technique from Gabor Szabo. Thanks:
    # https://perlmaven.com/install-developer-dependencies-first-test-css
    # I had to change the home directory because $HOME doesn't find the
    # logs under Windows. See .github/workflows/environment.PL for more
    # information.
    - name: Show cpanm install log
      if: failure()
      shell: bash
      run: |
        cat $MY_PORTABLE_HOME/.cpanm/work/*/build.log
